<h1>Edit Post</h1>

<%= form_for @post do |form| %>
  <div><%= form.text_field :caption %></div>
  <div style="width:400px; height:auto"><%= image_tag(@post.image, style:'width:100%') %></div>

  <%= form.submit "Submit" %>
<% end %>

<%= link_to 'Back', posts_path %>
